<h2>Update Court Name </h2>

<div>
    <label>Current Court Name:</label>
    <label> {{ court_name }} </label>
</div>

<form action="/courts" method="POST">
    <div>
        <label for="name">Enter New Court Name (must be unique):</label>
        <input type="text" class="form-control" name="new_court_name" id="new_court_name" width="30" style="width:200px" value="{{court_name}}">
        <input type="text" class="form-control" name="remote_lock_minutes_before" id="remote_lock_minutes_before" width="30" style="width:200px" value="{{remote_lock_minutes_before}}">
        <input type="hidden" class="form-control" name="court_name" id="court_name" value="{{ remote_lock_minutes_before }}">
    </div>

    <button class="btn btn-primary">Update</button>
</form>
<div>
    <label>Previous Court Name:</label>
    <label> {{ last_court_name }} </label>
</div>
<p class="text-center">
    <a href="/courts">Cancel</a> |
    <a href="/courts">View Courts</a> |
    <a href="/log">View Recent Activity</a> |
    <a href="/auth/logout">Logout</a>
</p>