<h2>SquashRx Courts</h2>
<div>
    Click on Court to update the name or adjust the access time interval.
</div>
<p></p>
<div>
    <ul>
        {{#each results}}

        <li>
            <a href="/courts/{{court_name_escaped}}">{{ court_name }}</a> | Min Before Res: {{ remote_lock_minutes_before }} | RL Id: {{ remote_lock_id }} | Type: {{ remote_lock_type }}
            {{/each}}
    </ul>
</div>
<p class="text-center">
    <a href="/log">View Recent Activity</a> |
    <a href="/auth/logout">Logout</a>
</p>