

<h2>Last Advantage Booking Scan Performed</h2>
<ul>
    <li>
        Last Scan: {{ lastTime }}
</ul>



<h2>Last Reservations Processed</h2>
<ul>
    {{#each recent}}
    <li>
        {{ab_guest_name }} | ResId: {{ ab_res_id }} | Court: {{ ab_court_name }} <br /> Start: {{ abrescreationttime }} | Start: {{ abresstarttime }} |  End: {{ abresendtime }} <br /> Created: {{ abrescreationtime}}
        {{/each}}
</ul>

<p class="text-center">
    <a href="/courts">View Courts</a> |
    <a href="/auth/logout">Logout</a>
</p>