<head>
    <meta http-equiv="refresh" content="30">
</head>

<h2>Log</h2>
<ul>
    {{#each recent}}
    <li>
        {{ab_guest_name }} {{ ab_res_id }} {{ ab_res_start_time }} {{ ab_res_end_time }} {{ ab_court_name }}
        {{/each}}
</ul>
<ul>

    <li>
        {{ lastTime }}
    <li>
        {{ lastDb}}

</ul>