<head>
    <meta http-equiv="refresh" content="30">
</head>

<h2>Log</h2>
<ul>
    {{#each recent}}
    <li>
        {{ab_guest_name }} Reservation: {{ ab_res_id }} Court: {{ ab_court_name }} Start: {{ ab_res_start_time }} End: {{ ab_res_end_time }}
        {{/each}}
</ul>
<ul>

    <li>
        Last Scan: {{ lastTime }}
    <li>
        {{ lastDb}}

</ul>